<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="display-3  text-white">Ventura Life Sciences
                <span>Care...Cure...Hope</span>
              </h1>
              <p class="lead  text-white">Incorporated in 2012, Ventura Life Sciences was established
                by group of committed and experienced professionals who came together with a committment of "Care, Cure,
                Hope" as our guiding principles. Having experience of successful launch of many companies in the state of Maharashtra 
                
                today we are emerging as a fastest growing Pharmaceutical company With a Vision to provide the best
                quality and affordable healthcare to all. Our presence in Gynecology, Orthopedic, ENT, Neurology, Paedtric,
              and general medicine segments makes us feel proud to serve the mankind by launching newer molecules.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-6">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Vision</h6>
                  <p class="description mt-3">Our vision is to become a leading global pharmaceutical company by
                    providing high quality, affordable and innovative medicines. </p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-6">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Mission</h6>
                  <p class="description mt-3">To establish Ventura as a leading organization by building on
                    product-excellence through Innovations & Technology. </p>
                  <div>
                    <span class="badge badge-pill badge-success">business</span>
                    <span class="badge badge-pill badge-success">vision</span>
                    <span class="badge badge-pill badge-success">success</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-6">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Values</h6>
                  <p class="description mt-3">Integrity, Honesty, Dedication, Team Work, Respect & Care, Passion for Excellence,
                    Entrepreneurial Spirit, Customer Focus is what we possess.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/medicine.jpg" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-8">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>About Us</h3>
            <p>We started our journey after putting years of dreams and passion today our company is established due to
              real effort s our Team, wellwishers, Customers and almighty Ventura began its operation as marketing
              pharmaceutical company with Our Product Basket catering to all the major medical fraternity, our endeavour
              is to spread wings in Global Market.Our mission is to heal every patient across the Globe with
              affordable medicine that comply with global standard and achieve market leadership.
              Ventura is an innovative pharmaceutical company that markets a broad range of healthcare products.
              Head Office of Ventura is situated in Pune.
              Ventura has built knowledge sharing relationship with the pharmaceutical majors in areas of product
              development, customer satisfaction, contract research and contract manufacturing. Our culture of growth is
              built upon trust and transparency. We now stand ready to grasp opportunities emerging in a new world.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted products</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing Results</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then
                thaws every summer, and that process will continue whatever happens.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our Products</h3>
            <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure
              you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and
              images and you're good to go.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Why Ventura ?</h4>
              <p class="text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every
                summer, and that process will continue whatever.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Newest Technologies</h5>
                  <p>As innovation and newness is in our gene, we have successfully introduced some very unique products
                    1st time in india and enables doctors to serve their patients proudly.</p>
                  <!-- <a href="javascript:void(0)" class="text-success">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">High Customer Satisfaction</h5>
                  <p>Our Motto is not just to provide quality medicine but to give healthy and meaningful life to
                    humanity.</p>
                  <!-- <a href="javascript:void(0)" class="text-warning">Learn more</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">The amazing Team</h2>
          <p class="lead text-muted">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
            NSIDClead scentist, puts the potentially record maximum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Ryan Tompson</span>
                <small class="h6 text-muted">Web Developer</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Romina Hadid</span>
                <small class="h6 text-muted">Marketing Strategist</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Alexander Smith</span>
                <small class="h6 text-muted">UI/UX Designer</small>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/team-1-800x800.jpg"
              class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">John Doe</span>
                <small class="h6 text-muted">Founder and CEO</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <h3 class="text-white">We made website building easier for you.</h3>
              <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of
                dollars, because I got the answers. I understand culture.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Build something</h2>
          <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos,
            NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Contact Form</h4>
              <p class="mt-0">You are important to us!</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true"
                    (blur)="focus=false">
                    
                </div>
                
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80"
                  placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>