<div class="user-popup">
    <div class="row user-popup-header">
      <div class="col">
        <h1 mat-dialog-title>
          <span>Add User</span>  
        </h1>
      </div>
      <div class="col-auto">
        <button mat-button (click)="onClose()" tabindex="-1">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  
    <form [formGroup]="authService.addUserForm" (ngSubmit)="addUSer()" class="controls-container">
      <div class="row">
        <div class="col-md-6">

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="firstName" placeholder="First Name*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="lastName" placeholder="Last Name*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="emailId" placeholder="User Email ID*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="city" placeholder="User City*">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="state" placeholder="User State*">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="country" placeholder="User Country*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="password" placeholder="Password*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="date" formControlName="dateOfBirth" placeholder="Date of Birth*">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="adminRoleType" placeholder="Admin Role Type*">
          </mat-form-field>
        </div>
      </div>
        <button mat-raised-button color="primary" [disabled]="authService.addUserForm.invalid">Submit</button>
    </form>
  </div>
  
