.user-popup {
    height: 70vh;
    overflow: hidden;
  
    &-header {
      border-bottom: 2px solid $drk-blue;
      margin-bottom: 15px;
  
      button {
        &:hover {
          background-color: none;
        }
      }
    }
  
    .controls-container {
      height: calc(100% - 67px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 15px;
    }
  }