<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div>
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="#" class="btn btn-sm btn-info mr-4">Weekly Reports</a>
                <a href="#" class="btn btn-sm btn-default mr-4">Documents</a>
                <a href="#" class="btn btn-sm btn-info mr-4">Doctors List</a>
                <a href="#" class="btn btn-sm btn-default mr-4">Data</a>
                
                <button type="button" (click)="addUserModal()" class="btn btn-primary my-4">Add New User</button>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>Anuj Shenoy</h3>
            <div class="h6 mt-4">Zonal Sales Manager</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>